
  
  @media print {
    #no-print, #no-print * {
      display: none !important;
    }
  
    .no-print, .no-print * {
      display: none !important;
    }
  }
  
  .noSelect {
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
  }
  
  
  #inicio{
    max-width: 140px;
    text-align: center;
  }
  
  #cerrarsesion {
    max-width: 170px;
    text-align: center;
    float: right!important;
  }
  
  .usuario {
    margin-left: 10px !important;
    margin-right: 10px !important;
    margin-top: 20px !important;
  }
  
  .titulo {
    font-size: 20pt;
    margin-top: 11px !important;
    margin-right: 25px !important;
    margin-left: calc(54vw - 280px) !important;
  }
  
  .margen2 {
    margin-top: 7px!important;
    margin-left: calc(50vw - 250px) !important;
  }
  
  .margen2.solo {
    margin-left: calc(60vw - 250px) !important;
  }
  
  .titulo2 {
    font-size: 20pt;
  }
  
  .top2{
    margin-top: 33px!important;
  }
  
  
  .titulo3 {
    font-size: 20pt;
    margin-top: 7px !important;
  }