/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@import url('//fonts.googleapis.com/icon?family=Material+Icons');

@include mat-core();

$primary: mat-palette($mat-light-green, 500);
$accent:  mat-palette($mat-light-green, 500);
$warn:    mat-palette($mat-red, 500);

$config: mat-typography-config();


$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);

body {
  font-family: mat-font-family($config);
  font-weight: normal;
}

h1, h2, h3, h4 {
  font-weight: normal;
}

.basic-container {
  padding: 3em 2em 1em;
  width: 14em;
  float: left;
}

.results {
  margin-left: 2em;
  width: 85em;
  height: 28em;
  border: 1px solid #99AD01;
  overflow: auto;
}

.searchButton1 {
  float: right;
  margin: 3em 2.9em 0 0;
}

.searchButton2 {
  padding: 0 2em;
  color:  rgb(165, 187, 0);
}

.addRemButton {
  margin: 2em 0 0 2em;
}

.exportButton {
  float: right;
  margin: 2em 2.9em 0 0;
}

.exportButton2 {
    color:  rgb(165, 187, 0);
  }

/* Structure */
table {
  width: 100%;
}

mat-header-row {
    width: 100px;
}

mat-grid-tile {
  border: 0.1em solid rgba(0, 0, 0, 0.12);
}

.first {
  border-top-width: 0px;
  border-right-width: 0px;
}

.inter {
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}

th.mat-header-cell {
    text-align: center !important;
}

td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type, th.mat-header-cell:last-of-type {
    display: none;
}

td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type, th.mat-header-cell:first-of-type {
    padding-left: 12px !important;
    width: 231px;
}

.mat-cell, .mat-footer-cell {
    font-size: 11px;
}

tr.mat-footer-row, tr.mat-row {
    height: 20px !important;
}