
<form class="basic-container">
  <mat-form-field >
    <input (focus)="startObservable(1)" type="text" placeholder="Center" aria-label="Centros" matInput [formControl]="centroControl" (keyup)="applyFilter($event.target.value)" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let centro of filteredOptionsCentros | async" [value]="centro">
        {{centro}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>

<form class="basic-container">
  <mat-form-field>
    <input (focus)="startObservable(2)" type="text" placeholder="Line" aria-label="Lineas" matInput [formControl]="lineaControl" (keyup)="applyFilter($event.target.value)" [matAutocomplete]="autoLineas">
    <mat-autocomplete #autoLineas="matAutocomplete">
      <mat-option *ngFor="let linea of filteredOptionsLineas | async" [value]="linea">
        {{linea}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>

<form class="basic-container">
  <mat-form-field>
    <input (focus)="startObservable(3)" type="text" placeholder="Cell" aria-label="Celdas" matInput [formControl]="celdaControl" (keyup)="applyFilter($event.target.value)" [matAutocomplete]="autoCeldas">
    <mat-autocomplete #autoCeldas="matAutocomplete">
      <mat-option *ngFor="let celda of filteredOptionsCeldas | async" [value]="celda">
        {{celda}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>

<form class="basic-container">
  <mat-form-field>
    <input (focus)="startObservable(4)" type="text" placeholder="State" aria-label="Estados" matInput [formControl]="estadoControl" (keyup)="applyFilter($event.target.value)" [matAutocomplete]="autoEstados">
    <mat-autocomplete #autoEstados="matAutocomplete">
      <mat-option *ngFor="let estado of filteredOptionsEstados | async" [value]="estado">
        {{estado}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>

<form class="basic-container">
  <mat-form-field>
    <input #tipoHora (focus)="startObservable(5)" type="text" placeholder="Hours" aria-label="Horas" matInput [formControl]="horasControl" [matAutocomplete]="autoHoras">
    <mat-autocomplete #autoHoras="matAutocomplete">
      <mat-option *ngFor="let hora of filteredOptionsHoras | async" [value]="hora">
        {{hora}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>

<!-- <mat-form-field class="basic-container">
  <input #madao matInput [matDatepickerFilter]="myFilter" [matDatepicker]="picker" placeholder="Elige una fecha">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field> -->

<mat-form-field class="basic-container">
  <input #madao matInput [matDatepickerFilter]="" [matDatepicker]="picker" placeholder="Choose a date">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker startView="year"></mat-datepicker>
</mat-form-field>

<div class="searchButton">
  <button mat-raised-button class="searchButton2" (click)="pickYear(madao); pickMonth(madao); getDaysOfTheMonth()">Search</button>
</div>

<div class="table-responsive table-striped mat-elevation-z4 results">
  <div *ngIf="horasControl.value == 'Normales'">
  <table mat-table [dataSource]="dataSource">

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef id="headerName"> Employee Name </th>
      <td mat-cell *matCellDef="let element" id="tableRow">
        {{element.name}}
      </td>
    </ng-container>

    <!-- Position Column -->
      <ng-container matColumnDef="{{day}}" *ngFor="let day of daysOfTheMonth">
        <th mat-header-cell *matHeaderCellDef id="headerNum"> {{day|number:'2.0'}} </th>
        <td mat-cell *matCellDef="let element" id="headerNum" class="outLine first" contenteditable="true">
          {{element.normalH}}
        </td>
      </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" id="tableRow"></tr>
  </table>
  </div>

  <div *ngIf="horasControl.value == 'Extra'">
    <table mat-table [dataSource]="dataSource">
  
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef id="headerName"> Employee Name </th>
        <td mat-cell *matCellDef="let element" id="tableRow">
          {{element.name}}
        </td>
      </ng-container>
  
      <!-- Position Column -->
        <ng-container matColumnDef="{{day}}" *ngFor="let day of daysOfTheMonth">
          <th mat-header-cell *matHeaderCellDef id="headerNum"> {{day|number:'2.0'}} </th>
          <td mat-cell *matCellDef="let element" id="headerNum" class="outLine second" contenteditable="true">
            {{element.extraH}}
          </td>
        </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" id="tableRow"></tr>
    </table>
  </div>

  <div *ngIf="horasControl.value == 'TLF'">
    <table mat-table [dataSource]="dataSource">
    
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef id="headerName"> Employee Name </th>
        <td mat-cell *matCellDef="let element" id="tableRow">
          {{element.name}}
        </td>
      </ng-container>

      <!-- Position Column -->
        <ng-container matColumnDef="{{day}}" *ngFor="let day of daysOfTheMonth">
          <th mat-header-cell *matHeaderCellDef id="headerNum"> {{day|number:'2.0'}} </th>
          <td mat-cell *matCellDef="let element" id="headerNum" class="outLine third" contenteditable="true">
            {{element.tlfH}}
          </td>
        </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" id="tableRow"></tr>
    </table>
  </div>
</div>

<div class="exportButton">
  <button mat-raised-button class="exportButton2">Export to Excel</button>
</div>
