/* You can add global styles to this file, and also import other style files */

$config: mat-typography-config();

body {
  font-family: mat-font-family($config);
  font-weight: normal;
}

h1, h2, h3, h4 {
  font-weight: normal;
}

.basic-container {
  padding: 3em 2.2% 1em;
  width: 15%;
  float: left;
}

.results {
  margin-left: 2.2%;
  width: 95%;
  height: 30em;
  border: 1px solid #99AD01;
  overflow: auto;
}

.searchButton {
  float: right;
  margin: 3.8em 2.8% 0 0;
}

.searchButton2 {
  padding: 0 2.8em;
  outline: 0px;
  // color:  rgb(165, 187, 0);
}

.addRemButton {
  margin: 2em 0 0 2em;
}

.exportButton {
  float: right;
  margin: 2em 2.8% 0 0;
}

.exportButton2 {
  outline: 0px;
  // color:  rgb(165, 187, 0);
}

/* Structure */
table {
  width: 100%;
}
mat-grid-tile {
  border: 0.1em solid rgba(0, 0, 0, 0.12);
}

.first {
  border-top-width: 0px;
  border-right-width: 0px;
}

.inter {
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}

#headerNum {
  text-align: center;
}

#headerName {
  padding-left: 0px;
  text-align: center;
}

td.mat-cell:last-of-type, th.mat-header-cell:last-of-type {
  padding-right: 0px;
}

#tableRow {
  width: 219px;
  height: 43px ;
}

.mat-cell, .mat-footer-cell {
  font-size: 11px;
}